{% extends "base.html" %}

{% block content %}

<main class="main main--about">
    <p>
        Hello, I'm Sam! I'm an IT Support Engineer at Amazon with a passion 
        for web and software development. For me, programming combines the logical
        with the artistic and that's what draws me to it! The challenges I face
        and opportunities to learn even more keep me self-starting and motivated.
    </p>
    <p>
        I've been working for Amazon for over 6 years. In September 2023, I
        joined our IT AppDev Community, which has given me experience working
        with a team of developers. On the AppDev Community, I have directly
        contributed to our internal tools and resolving security risks.
    </p>
    <p>
        I have an Associate degree in Game Design & Development (Camden County College, 2017)
        and a Bachelor's degree in Computer Science (Southern New Hampshire University, 2020).
        I speacialize in front-end web development (HTML, CSS, JavaScript), but I also have 
        experience with Python and Flask.
    </p>
    <p>
        It's nice to meet you and I hope you enjoy my work!
    </p>
</main>

{% endblock %}