{% extends "base.html" %}

{% block content %}

<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact_details">
                <a class="contact__link" href="mailto:hamsam.paige@gmail.com">
                    hamsam.paige@gmail.com
                </a>
            </dd>
        </div>
    </dl>

    <dl>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact_details">
                <a class="contact__link" href="https://github.com/shamiltonc">
                    @shamiltonc
                </a>
            </dd>
        </div>
    </dl>

    <dl>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact_details">
                <a class="contact__link" href="https://www.linkedin.com/in/samantha-hamilton-85427a103/">
                    Samantha Hamilton
                </a>
            </dd>
        </div>
    </dl>
</main>

{% endblock %}